<% if current_user %>
<h1 class="text-xl py-10 px-4">Hello, <span class="text-indigo-500"><%= extract_username_from_email(current_user.email)%></span>. Welcome to our blog!</h1>
<% else %>
<h1 class="text-xl py-10">Welcome to Our Blog!</h1>
<% end %>

<div class="container w-full h-fit flex flex-wrap flex-col items-center justify-self-center">
<% if user_signed_in? %>
<%= render "posts/form", post: @post %>
<% else %>
<p>Please sign in to post.</p>
<% end %>  
<%= render "posts/index"%>

  </section>
</div>


