<main class="flex flex-col items-center">
<h1>My Account</h1>

<h2>Your Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.subject, post %></li>
  <% end %>
</ul>
</main>

<%= link_to "Edit Account", edit_user_registration_path %>
