<div class="sorting-options">
  <%= link_to "Sort by Date (Descending)", root_path(q: params[:q], order: "created_at desc") %>
  <%= link_to "Sort by Date (Ascending)", root_path(q: params[:q], order: "created_at asc") %>
</div>
