<div class="sorting-options">
  <%= form_tag(root_path, method: :get, class: 'form-inline') do %>
    <label for="q_s">Sort by:</label>
    <%= select_tag 'q[s]', options_for_select([['Newest', 'created_at desc'], ['Oldest', 'created_at asc'], ['Highest Votes', 'upvote_count desc'], ['Lowest Votes', 'upvote_count asc']], params[:q]&.dig(:s)), class: 'form-control' %>
    <%= submit_tag 'Apply', class: 'btn btn-primary' %>
  <% end %>
</div>
